.contacts {
    background-image: url('../img/fon.png');
    height: 450px;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 500px rgba(244, 244, 244, 0.7);
}

.contacts__container {
    display: flex;
    justify-content: space-between;
}

.contacts__left {
    padding-top: 19%;
}

.contacts__right {
    padding-top: 19%;
}

.contacts__text {
    text-align: center;
}

.contacts__disign {
    display: block;
}

.contacts__mail {
    height: 50px;
    width: 250px;
    border-radius: 20px 0 0 20px;
    border: 0;
}

.contacts__button {
    height: 50px;
    width: 76px;
    border: 0;
    border-radius: 0 20px 20px 0;
    background-color: #E05C6E;
    margin-left: -4px;
    cursor: pointer;
}