.registration__container {
    display: flex;
    justify-content: space-between;
}

.registration__left {
    width: 250px;
    margin-top: 64px;
    margin-bottom: 96px;
}

.registration__right {
    width: 652px;
    margin-top: 64px;
    margin-bottom: 96px;
}

.registration__quality {
    display: flex;
    background-image: url('../img/quality.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 40px;
}

.registration__quality:not(:first-child) {
    margin-top: 20px;
}

.form__input {
    border: 1px solid #A4A4A4;
    border-radius: 0;
    height: 45px;
    margin-top: 20px;
}

.form__button {
    height: 50px;
    width: 167px;
    margin-top: 39px;
    color: white;
    background-color: #F16D7F;
    border: 0;
}

.form__name {
    width: 100%;
}

.form__mail {
    width: 100%;
}

.form__password {
    width: 100%;
    margin-bottom: 10px;
}

.form__account {
    padding-top: 30px;
}

.form__discription {
    color: #B1B1B1;
}

.form__select {
    margin-top: 15px;
}